{% extends 'base.html'%}

{% block head %}
<title>Home title</title>
{% endblock %}

{% block body %}
<h1>HOME PAGE</h1>
<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to steven's blog. Here we will talk everything about Steven.</p>
        <p>Send me a message on linkedin at <a href="https://www.linkedin.com/in/steven-p-wang-9bb95543/"> linkedin</a> to find my work history</p>
        <p>
            <a class="btn btn-primary" href="/posts" role="button">Go to Post</a>
        </p>
    </div>
</div>

{% endblock %}